Package: com.pixelomer.oneko
Name: Syoboneko
Version: 1.0.0
Architecture: iphoneos-arm
Description: Oneko for iOS but with Syobon (/Shobon, aka. cat mario)
Maintainer: SaaS
Author: pixelomer
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
